img{
   height:10%;
   width:10%;
   float:left;
   margin-b
}
.h1{
   margin-bottom:10%;
   font-size:350%;
   text-align:center;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
}
li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}
li a.active {
background-color: #04AA6D;
color: white;
}
li a:hover:not(.active) {
background-color: #555;
color: white;
}
footer {
text-align: center;
padding: 3px;
background-color: DarkSalmon;
color: white;
}
.main{
   padding:2%;
   margin-left:25%;
   margin-top:-12%;
}
